@import "reset";

body {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 1171px;
  margin: auto;
}

.flex {
  display: flex;
  &_ {
    &justify- {
      &between {
        justify-content: space-between;
      }
    }
  }
}
