@import "reset";
@import "grid";

body {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 90%;
  margin: auto;
  @media screen and (min-width: 1300px){

    width: 1171px;

  }

}

.flex {
  display: flex;
  &_ {
    &justify- {
      &between {
        justify-content: space-between;
      }
    }
  }
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
